@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

:root {
	--main: rgb(50, 115, 141);
	--bg: rgb(217, 234, 235);
}

body {
	font-family: "Handjet", sans-serif;
	margin:0;
	padding: 0;
	color: var(--main);
	background-color: var(--bg);
}
h1 {
	font-size: 13vmin;
	font-weight: 200;
	font-family: "Libre Caslon Text", serif;
	text-transform: lowercase;
	padding-left: 20px;
	padding-right: 20px;
	margin:0;
	box-sizing: border-box;
	width: 100%;
}
.secondary {
	text-decoration: line-through;
	text-decoration-style: dashed;
	text-decoration-thickness: 2px;
	text-align: right;
}
.hero {
	width: 90vmin;
	height: 90vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	padding-top: 50px;
	padding-bottom: 5vmin;
	box-sizing: border-box;
}
.heroContents {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative
}
.bottom > :nth-child(2) {
	text-align: right;
}
.nav {
	position: fixed;
	left: 10px;
	top: 10px;
	height: 50px;
	border: solid 2px;
	display: flex;
	align-items: center;
	background-color: var(--bg);
	z-index: 3;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
	transition: 0.2s;
	border-color: black;
	color: black;
	box-sizing: border-box;
}
.nav > img {
	max-height: 50px;
}
.nav > p {
	padding: 10px;
	box-sizing: border-box;
}
.nav:hover {
	border-width: 3px;
}

.content {
	position: absolute;
	top: 95vh;
	left: 50%;
	translate: -50% 0;
	width: 90vmin;
	padding-bottom: 100px;
}
.content > img{
	width: 100%;
}

video, .youtube {
	width: 100%;
	aspect-ratio: 16/9;
	border: none;
}

#foldout {
	background-color: var(--main);
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5vmin;
	flex-direction: column;
	transition: 0.2s;
	font-size: min(max(12px,10vmin),50px);
}
#foldout > * {
	color: white;
	text-decoration: none;
	font-weight: 200;
	transition: 0.2s;
	font-family: inherit;
	background-color: transparent;
	border: none;
	font-size: inherit;
}
#foldout > *:hover {
	font-weight: 400;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: var(--main);
	color: white;
	width: 100%;
	padding: 5px;
}

a {
	color: var(--main);
	padding: 2px;
	margin-bottom: 2px;
	background-color: rgba(50, 115, 141,0.1);
}

footer > * > a {
	padding: 0;
	border: none;
	color: white;
}

.comingsoon, .team {
	display: flex;
	flex-wrap: wrap;
}
.school, .member {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 10px 10px 10px 0px;
}
.school > img, .member > img {
	max-width: 200px;
}

.member { 
	margin-right: 30px;
}

.meter {
	text-align: right;
}
.meterTube {
	border: solid;
	position: relative;
	height: 25px;
}
#meterFluid {
	position: absolute;
	width: 27%;
	height: 100%;
	background-color: var(--main);
	color: white;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-right: 10px;
	box-sizing: border-box;
}

.slidesFrame {
	width: 100%;
	overflow: scroll;
	padding: 0;
	margin-bottom: 25px !important;
}
.slidesLong {
	aspect-ratio: 1/0.5625;
}

.imagesSlides {
	position: relative;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-behavior: smooth;
	padding: 0;
	box-sizing: border-box;
	font-size: 0;
}
.imagesSlides > img {
	height: 100%;
	display: inline;
	box-sizing: border-box;
}

.slideControls {
	position: relative;
	width: 100%;
	padding: 0;
	translate: 0 -25px;
	margin-bottom: 25px !important;
	background-color: transparent;
	backdrop-filter: none;
	box-shadow: none;
}
.leftRight {
	position: absolute;
	margin: 10px;	
	background-color: var(--main);
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
	backdrop-filter: blur(10px);
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0;
	border-radius: 100vmin;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
	border: none;
	color: var(--bg);
}
.lrl {
	left: 0;
}
.lrr {
	left: 50px;
}